In [1]:
import numpy as np
import pandas as pd
import astropy.units as u
from astropy.time import Time
from astropy.coordinates import SkyCoord
import pytz
from astropy import units as u
from astropy import constants as const
from astropy.units import imperial
imperial.enable()

from astroplan import Observer, FixedTarget
%matplotlib inline
import matplotlib.pyplot as plt

from astroplan import time_grid_from_range

from astroplan.plots import plot_airmass
from astropy.table import Table

In [2]:
my_column_names = ["Name", "RAh", "RAm", "RAs", "DEd","DEm","DEs","FName","Type"]
df = pd.read_csv("./Navigation2/galaxytable.txt", skiprows = 24, delimiter= " ", header = None, names=my_column_names)
df.head()
df_random = df.sample(n=80)
df_random.head()

      Name  RAh  RAm   RAs  DEd  DEm   DEs    FName Type
7515  7516   13    6  35.8   -5   10  47.7  RCS1303    M
8990  8991   15   31  24.5    6   27  44.0  RCS1514    M
4048  4049    3    5   6.3  -16   54  35.5  RCS0310    M
7011  7012   12   46  30.6    2   57  37.5  RCS1303   CM
7852  7853   15    2  26.9    9    4  24.8  RCS1514    M

In [3]:
#convert to same unit and add
dfr = Table.from_pandas(df_random)
RAh_h = dfr['RAh']*u.hourangle
RAm_h = (dfr['RAm'] / 60) * u.hourangle
RAs_h = (dfr['RAs'] / 3600) * u.hourangle

#add
RA = RAh_h + RAm_h + RAs_h

DEh_h = dfr['DEd']*u.deg
DEm_h = (dfr['DEm'] * u.arcmin).to(u.deg)
DEs_h = (dfr['DEs'] * u.arcsec).to(u.deg)

#add
DE = DEh_h + DEm_h + DEs_h
dfr

<Table length=80>
 Name  RAh   RAm    RAs    DEd   DEm    DEs    FName  Type
int64 int64 int64 float64 int64 int64 float64   str7  str2
----- ----- ----- ------- ----- ----- ------- ------- ----
 7516    13     6    35.8    -5    10    47.7 RCS1303    M
 8991    15    31    24.5     6    27    44.0 RCS1514    M
 4049     3     5     6.3   -16    54    35.5 RCS0310    M
 7012    12    46    30.6     2    57    37.5 RCS1303   CM
 7853    15     2    26.9     9     4    24.8 RCS1514    M
10710    21    25    37.5     0    42    47.7 RCS2143    M
14262    23    35    25.6    -9    57    15.5 RCS2338    M
 8015    15     6     2.4    10    12    44.0 RCS1514    M
10456    16    57    51.1    37     4    20.4 RCS1645    M
14670    23    41     3.8     0    14    51.5 RCS2329    M
  ...   ...   ...     ...   ...   ...     ...     ...  ...
14255    23    35    22.3    -1    27     6.1 RCS2329    M
 5025     3    49    31.0    -6    18    17.8 RCS0357    M
12011    21    46    38.9    -4    36    40.2 RCS2143   CP
 2400     1    30    50.6     2     7    33.8 RCS0133   CP
 8758    15    25    35.3     6     5    52.8 RCS1514    M
14930    23    50    45.8   -13     9    23.9 RCS2338    M
 4158     3     8     3.8   -10    51     2.4 RCS0310    M
11889    21    44    57.0     0    15    33.6 RCS2143    M
 1305     0    53    26.3     4    49    27.3 RCS0047    M
 4625     3    21     4.2   -17     1    44.1 RCS0310    M

In [4]:
dfr.remove_columns(['RAh','RAm', 'RAs', 'DEd','DEm','DEs','FName','Type'])
dfr['RA'] = RA
dfr['DE'] = DE
dfr

<Table length=80>
 Name         RA                  DE
          hourangle              deg
int64      float64             float64
----- ------------------ -------------------
 7516 13.109944444444444  -4.820083333333333
 8991 15.523472222222223  6.4622222222222225
 4049 3.0850833333333334  -15.09013888888889
 7012 12.775166666666667  2.9604166666666667
 7853 15.040805555555556   9.073555555555556
10710 21.427083333333336  0.7132499999999999
14262 23.590444444444444  -8.045694444444445
 8015 15.100666666666667  10.212222222222222
10456 16.964194444444445   37.07233333333334
  ...                ...                 ...
14255 23.589527777777775 -0.5483055555555556
 5025 3.8252777777777776  -5.695055555555555
12011 21.777472222222222 -3.3888333333333334
 2400 1.5140555555555555  2.1260555555555554
 8758 15.426472222222221               6.098
14930 23.846055555555555 -12.843361111111111
 4158 3.1343888888888887  -9.149333333333333
11889 21.749166666666667 0.25933333333333336
 1305 0.8906388888888889             4.82425
 4625  3.351166666666667 -16.971083333333333

In [5]:
cfht = Observer(latitude = 19.8253 * u.deg,
               longitude = -155.47 * u.deg,
               elevation = 4204 * u.m,
               timezone = 'US/Hawaii',
               name = "CFHT"
              )
sep1 = Time("2019-09-01 12:00:00")

In [6]:
astro_set1 = cfht.twilight_evening_astronomical(sep1, which="nearest")
astro_rise1 = cfht.twilight_morning_astronomical(sep1, which="next")
observing_time = (astro_rise1 - astro_set1).to(u.h)

In [7]:
print("Astronomical Evening Twilight starts at {0.iso} UTC".format(astro_set1))
print("Astronomical Morning Twilight starts at {0.iso} UTC".format(astro_rise1))
print("You can observe for {0:.1f} during the window".format(observing_time))

Astronomical Evening Twilight starts at 2019-09-01 05:52:38.177 UTC
Astronomical Morning Twilight starts at 2019-09-01 14:51:35.079 UTC
You can observe for 9.0 h during the window

In [8]:
coords = SkyCoord(dfr['RA'][0]*u.deg, dfr['DE'][0]*u.deg, frame='icrs')

In [9]:
#all observing window
sep2 = Time("2019-09-02 12:00:00")
sep3 = Time("2019-09-03 12:00:00")
sep4 = Time("2019-09-04 12:00:00")
sep5 = Time("2019-09-05 12:00:00")
sep6 = Time("2019-09-06 12:00:00")
sep7 = Time("2019-09-07 12:00:00")
sep8 = Time("2019-09-08 12:00:00")
sep9 = Time("2019-09-09 12:00:00")
sep10 = Time("2019-09-10 12:00:00")
sep11 = Time("2019-09-11 12:00:00")
sep12 = Time("2019-09-12 12:00:00")
sep13 = Time("2019-09-13 12:00:00")
sep14 = Time("2019-09-14 12:00:00")
sep15 = Time("2019-09-15 12:00:00")

times=[sep1,sep2,sep3,sep4,sep5,sep6,sep7,sep8,sep9,sep10,sep11,sep12,sep13,sep14,sep15]

In [18]:
#Airmass
altaz_my_target = []
coord_l = []
for x in range(len(dfr)):
    coord = SkyCoord(dfr['RA'][x]*u.deg, dfr['DE'][x]*u.deg, frame='icrs')
    coord_l.append(coord)
    altaz_my_target = cfht.altaz(astro_rise1,coord_l[x])
    dfr['airmass'] = altaz_my_target.secz
mask_l = dfr['airmass'] < 2.0
new = dfr[mask_l]

<Table length=80>
 Name         RA                  DE              airmass
          hourangle              deg
int64      float64             float64            float64
----- ------------------ ------------------- ------------------
 7516 13.109944444444444  -4.820083333333333 1.8317278241187538
 8991 15.523472222222223  6.4622222222222225 1.8317278241187538
 4049 3.0850833333333334  -15.09013888888889 1.8317278241187538
 7012 12.775166666666667  2.9604166666666667 1.8317278241187538
 7853 15.040805555555556   9.073555555555556 1.8317278241187538
10710 21.427083333333336  0.7132499999999999 1.8317278241187538
14262 23.590444444444444  -8.045694444444445 1.8317278241187538
 8015 15.100666666666667  10.212222222222222 1.8317278241187538
10456 16.964194444444445   37.07233333333334 1.8317278241187538
  ...                ...                 ...                ...
14255 23.589527777777775 -0.5483055555555556 1.8317278241187538
 5025 3.8252777777777776  -5.695055555555555 1.8317278241187538
12011 21.777472222222222 -3.3888333333333334 1.8317278241187538
 2400 1.5140555555555555  2.1260555555555554 1.8317278241187538
 8758 15.426472222222221               6.098 1.8317278241187538
14930 23.846055555555555 -12.843361111111111 1.8317278241187538
 4158 3.1343888888888887  -9.149333333333333 1.8317278241187538
11889 21.749166666666667 0.25933333333333336 1.8317278241187538
 1305 0.8906388888888889             4.82425 1.8317278241187538
 4625  3.351166666666667 -16.971083333333333 1.8317278241187538

In [19]:
coord_list = []
mask = []
for x in range(len(new)):
    coords = SkyCoord(new['RA'][x]*u.deg, new['DE'][x]*u.deg, frame='icrs')
    coord_list.append(coords)
    
    mask.append(cfht.target_is_up(astro_rise1, coord_list[x]))
    
    
    

i = new[mask]

for j in range(len(i)):
    print("Object {0} with RA {1:.1f} hour and DEC {2:.1f} deg is visible during the observing window"
          .format(i[j][0],i[j][1],i[j][2]))

Object 7516 with RA 13.1 hour and DEC -4.8 deg is visible during the observing window
Object 8991 with RA 15.5 hour and DEC 6.5 deg is visible during the observing window
Object 4049 with RA 3.1 hour and DEC -15.1 deg is visible during the observing window
Object 7012 with RA 12.8 hour and DEC 3.0 deg is visible during the observing window
Object 7853 with RA 15.0 hour and DEC 9.1 deg is visible during the observing window
Object 10710 with RA 21.4 hour and DEC 0.7 deg is visible during the observing window
Object 14262 with RA 23.6 hour and DEC -8.0 deg is visible during the observing window
Object 8015 with RA 15.1 hour and DEC 10.2 deg is visible during the observing window
Object 10456 with RA 17.0 hour and DEC 37.1 deg is visible during the observing window
Object 14670 with RA 23.7 hour and DEC 0.2 deg is visible during the observing window
Object 3871 with RA 3.0 hour and DEC -11.4 deg is visible during the observing window
Object 8095 with RA 15.1 hour and DEC 7.8 deg is visible during the observing window
Object 11879 with RA 21.7 hour and DEC -3.2 deg is visible during the observing window
Object 14999 with RA 23.9 hour and DEC -11.9 deg is visible during the observing window
Object 4413 with RA 3.2 hour and DEC -11.3 deg is visible during the observing window
Object 2919 with RA 1.7 hour and DEC 0.9 deg is visible during the observing window
Object 9848 with RA 16.6 hour and DEC 38.2 deg is visible during the observing window
Object 9286 with RA 16.2 hour and DEC 55.0 deg is visible during the observing window
Object 9190 with RA 16.1 hour and DEC 54.7 deg is visible during the observing window
Object 5501 with RA 4.0 hour and DEC -9.9 deg is visible during the observing window
Object 11824 with RA 21.7 hour and DEC 0.3 deg is visible during the observing window
Object 6981 with RA 11.1 hour and DEC -2.1 deg is visible during the observing window
Object 12337 with RA 21.9 hour and DEC 2.2 deg is visible during the observing window
Object 10315 with RA 16.9 hour and DEC 39.3 deg is visible during the observing window
Object 12307 with RA 21.8 hour and DEC 2.3 deg is visible during the observing window
Object 3049 with RA 1.7 hour and DEC 0.3 deg is visible during the observing window
Object 10002 with RA 16.7 hour and DEC 40.7 deg is visible during the observing window
Object 12913 with RA 23.2 hour and DEC -0.2 deg is visible during the observing window
Object 3228 with RA 1.7 hour and DEC 0.9 deg is visible during the observing window
Object 11965 with RA 21.8 hour and DEC -2.0 deg is visible during the observing window
Object 13550 with RA 23.4 hour and DEC 0.4 deg is visible during the observing window
Object 11549 with RA 21.7 hour and DEC -0.9 deg is visible during the observing window
Object 15084 with RA 23.9 hour and DEC -9.9 deg is visible during the observing window
Object 7560 with RA 13.2 hour and DEC -4.6 deg is visible during the observing window
Object 1437 with RA 0.9 hour and DEC 4.8 deg is visible during the observing window
Object 9476 with RA 16.4 hour and DEC 52.7 deg is visible during the observing window
Object 12480 with RA 21.9 hour and DEC 1.8 deg is visible during the observing window
Object 2504 with RA 1.5 hour and DEC -1.8 deg is visible during the observing window
Object 6217 with RA 10.7 hour and DEC 60.2 deg is visible during the observing window
Object 13341 with RA 23.4 hour and DEC -4.4 deg is visible during the observing window
Object 5741 with RA 4.1 hour and DEC -9.3 deg is visible during the observing window
Object 10174 with RA 16.8 hour and DEC 38.0 deg is visible during the observing window
Object 11090 with RA 21.5 hour and DEC 3.1 deg is visible during the observing window
Object 12044 with RA 21.8 hour and DEC 0.9 deg is visible during the observing window
Object 1736 with RA 1.1 hour and DEC 2.4 deg is visible during the observing window
Object 7794 with RA 15.0 hour and DEC 8.1 deg is visible during the observing window
Object 9440 with RA 16.4 hour and DEC 54.3 deg is visible during the observing window
Object 12932 with RA 23.2 hour and DEC 0.3 deg is visible during the observing window
Object 14585 with RA 23.7 hour and DEC -9.4 deg is visible during the observing window
Object 6087 with RA 10.5 hour and DEC 60.2 deg is visible during the observing window
Object 9407 with RA 16.3 hour and DEC 53.0 deg is visible during the observing window
Object 11125 with RA 21.6 hour and DEC 1.4 deg is visible during the observing window
Object 11831 with RA 21.7 hour and DEC -3.4 deg is visible during the observing window
Object 3911 with RA 3.0 hour and DEC -14.2 deg is visible during the observing window
Object 2315 with RA 1.5 hour and DEC 0.6 deg is visible during the observing window
Object 761 with RA 0.7 hour and DEC 5.1 deg is visible during the observing window
Object 4382 with RA 3.2 hour and DEC -11.7 deg is visible during the observing window
Object 3935 with RA 3.0 hour and DEC -9.3 deg is visible during the observing window
Object 9241 with RA 16.2 hour and DEC 56.0 deg is visible during the observing window
Object 13841 with RA 23.5 hour and DEC 1.0 deg is visible during the observing window
Object 11552 with RA 21.7 hour and DEC -1.0 deg is visible during the observing window
Object 4935 with RA 3.5 hour and DEC -14.3 deg is visible during the observing window
Object 8543 with RA 15.3 hour and DEC 8.9 deg is visible during the observing window
Object 9450 with RA 16.4 hour and DEC 54.7 deg is visible during the observing window
Object 13705 with RA 23.5 hour and DEC -0.1 deg is visible during the observing window
Object 12760 with RA 22.0 hour and DEC 0.4 deg is visible during the observing window
Object 10566 with RA 21.4 hour and DEC 3.6 deg is visible during the observing window
Object 3317 with RA 1.7 hour and DEC 1.2 deg is visible during the observing window
Object 4117 with RA 3.1 hour and DEC -14.8 deg is visible during the observing window
Object 9702 with RA 16.6 hour and DEC 39.4 deg is visible during the observing window
Object 14255 with RA 23.6 hour and DEC -0.5 deg is visible during the observing window
Object 5025 with RA 3.8 hour and DEC -5.7 deg is visible during the observing window
Object 12011 with RA 21.8 hour and DEC -3.4 deg is visible during the observing window
Object 2400 with RA 1.5 hour and DEC 2.1 deg is visible during the observing window
Object 8758 with RA 15.4 hour and DEC 6.1 deg is visible during the observing window
Object 14930 with RA 23.8 hour and DEC -12.8 deg is visible during the observing window
Object 4158 with RA 3.1 hour and DEC -9.1 deg is visible during the observing window
Object 11889 with RA 21.7 hour and DEC 0.3 deg is visible during the observing window
Object 1305 with RA 0.9 hour and DEC 4.8 deg is visible during the observing window
Object 4625 with RA 3.4 hour and DEC -17.0 deg is visible during the observing window